@import "../../styles/variabels.scss";
@import "../../styles/mixins.scss";

.wrapper{
    @include flexMixin(column,center);
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:500px;
}

.title {
    font-size:1.7rem;
    color:$black;
    @include ff-bold;
    margin-bottom: 20px;
}

.inputBlock {
   @include inpWrapper();
}

.inputError{
    @include inpError();
}

.input{
    @include inp();
}

.inputsWrapper{
    width:100%;
    @include flexMixin(column,center,center);
}

.button{
    margin-bottom:20px;
    font-size:.9rem;
}

.register{
    @include ff-light;
    color:$black;
    font-size:1rem;
    &__link{
        color:$blue;
        @include ff-bold;
        cursor: pointer;
    }
}